<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>J-Discoverer!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <H1 align="center"><strong><font size="+5">J-Discoverer</font></strong></H1>
  <section class="hero is-info">
  <div class="hero-body">
  <nav class="level">
	  <div class="level-right has-text-centered">
		  <div>
			  <p class="heading">Total number of service chain elements</p>
			  <p class="title">6</p>
		  </div>
	  </div>
	  <div class="level-left has-text-centered">

		  <div>
			  <p class="heading">Total number of Vendors</p>
			  <p class="title">1</p>
		  </div>
	  </div>
  </nav>
  </div>
  </section>
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
	  <thead><h2><b> SERVICE CHAIN ELEMENT VALUES </b></h2></thead>
	  <tr>
		  <th>Location</th>
		  <th>Vendor</th>
		  <th>PeerIP</th>
		  <th>DeviceID</th>
		  <th>InterfaceIPs</th>
		  <th>IPType</th>
	  </tr>
	  </thead>
	  <tbody>
	  {% for result in displaylocation %}
	  	<tr>
	  	{% for key, value in result.items() %}
	  		<td>{{value}}</td>
		{% endfor %}
	  	</tr>
	  {% endfor %}
	  </tbody>
  </table>
  </body>
</html>
